@media only screen and (max-width: 768px) {
    .header__main-menu {
        display: block;
        position: fixed;
        top: 0;
        left: 0%;
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 40px;
        background-color: #393F47;
        opacity: 0.9;
        padding-top: 150px;
        transform: translateX(-100%);
        transition: transform 0.5s;
    }

    .header__main-menu.active {
        transform: translateX(0);
    }

    .header__main-menu .menu-item:not(:last-child) {
        margin: 20px 0px;
    }

    .burger-menu {
        width: 45px;
        height: 35px;
        margin-top: 10px;
        z-index: 2;
        position: relative;
        overflow: hidden;
    }

    .burger-menu__span {
        width: 100%;
        height: 2px;
        background-color: #C8A35F;
        display: block;
        position: absolute;
        transition: all 0.5s;
    }

    .burger-menu__span:nth-of-type(2) {
        top: calc(48% - 5px);
    }

    .burger-menu__span:nth-of-type(3) {
        top: calc(50% + 5px);
    }

    .burger-menu.active .burger-menu__span:first-of-type {
        transform: translateX(100%);
    }

    .burger-menu.active .burger-menu__span:nth-of-type(2) {
        top: 50%;
        transform: translate(-0%, -50%) rotate(45deg);
    }

    .burger-menu.active .burger-menu__span:nth-of-type(3) {
        top: 50%;
        transform: translate(-0%, -50%) rotate(-45deg);
    }
}