.main-content {
    background: url(../img/back-main.png);
    background-size: cover;
    background-position: center;
    height: 620px;
    padding-top: 155px;
}

.main-content__text {
    text-align: center;
    max-width: 920px;
    height: 245px;
    border: 1px solid #C8A35F;
    padding: 45px 71px;
    margin: 0 auto;
}

.main-content__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.main-content__subtitle {
    font-size: 18px;
    line-height: 28px;
    margin-top: 30px;
}

.main-content__mouse {
    margin: 0 auto;
    width: 30px;
    margin-top: 140px;
}

.main-slider {
    height: 560px;
    background: #393F47;
    padding-top: 120px;
    position: relative;
}

.main-slider::after {
    background: #2F343A;
    max-width: 410px;
    height: 560px;
}

.main-slider__text {
    max-width: 445px;
}

.main-slider__text-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 45px;
    margin-bottom: 25px;
}

.main-slider__text-subtitle {
    font-size: 18px;
    line-height: 28px;
}

.main-slider__text-button {
    width: 220px;
    height: 55px;
    background: #C8A35F;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    padding: 18px 0px;
    margin-top: 50px;
}

.main-slider__auto {
    max-width: 410px;
    margin: 0 auto;
    height: 100%;
    background: #2F343A;
}

.main-services {
    height: 740px;
    background: #2F343A;
    padding-top: 120px;
}

.main-services__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 40px;
    margin-bottom: 60px;
}

.main-services__content {
    display: flex;
    flex-wrap: wrap;
    width: 1108px;
}

.main-services__content-item {
    min-width: 265px;
    height: 180px;
    background: #393F47;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-bottom: 35px;
    padding-top: 35px;
    margin: 1px 1px;
}

.content-item__img {
    fill: #FFFFFF;
}

.main-services__content-item__img {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-services__content-item:hover {
    background-color: #C8A35F;
}


.main-services__content-item:hover .content-item__img {
    fill: #2F343A;
}

.main-services__content-item:hover .main-services__content-item__img {
    background: #FFFFFF;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.content-item__subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.yandex-map-wrap {
    position: relative;
}
.yandex-map__bg-shadow {
    background: #000;
    position: absolute;
    opacity: 0.7;
    top: 0;
    bottom: 0;
    width: 100%;
    cursor: pointer;
}

.burger-menu {
    display: none;
}

@media only screen and (max-width: 768px) {
    .header__main-menu {
        display: block;
        position: fixed;
        top: 0;
        left: 0%;
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 40px;
        background-color: #393F47;
        opacity: 0.9;
        padding-top: 150px;
        transform: translateX(-100%);
        transition: transform 0.5s;
    }

    .header__main-menu.active {
        transform: translateX(0);
    }

    .header__main-menu .menu-item:not(:last-child) {
        margin: 20px 0px;
    }

    .burger-menu {
        display: block;
        width: 45px;
        height: 35px;
        margin-top: 10px;
        z-index: 2;
        position: relative;
        overflow: hidden;
    }

    .burger-menu__span {
        width: 100%;
        height: 2px;
        background-color: #C8A35F;
        display: block;
        position: absolute;
        transition: all 0.5s;
    }

    .burger-menu__span:nth-of-type(2) {
        top: calc(48% - 5px);
    }

    .burger-menu__span:nth-of-type(3) {
        top: calc(50% + 5px);
    }

    .burger-menu.active .burger-menu__span:first-of-type {
        transform: translateX(100%);
    }

    .burger-menu.active .burger-menu__span:nth-of-type(2) {
        top: 50%;
        transform: translate(-0%, -50%) rotate(45deg);
    }

    .burger-menu.active .burger-menu__span:nth-of-type(3) {
        top: 50%;
        transform: translate(-0%, -50%) rotate(-45deg);
    }
}